@import "components/utils";
@import "components/forms";
@import "components/aside";
@import "components/buttons";
@import "components/nav";

.some {
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -ms-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 1px;
  font-weight: 400;
}
