@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";
@import 'bootstrap.custom';



@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.eot');
  src: local('/fonts/AktivGroteskCorp/AktivGroteskCorp-Light'),
  url('/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.woff') format('woff'),
  url('/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.eot');
  src: local('/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular'),
  url('/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.woff') format('woff'),
  url('/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



html, body {
  width: 100%;
  min-height: 100%;
  background: $backgroundPrimary;
  color: $fontColor;
  font-family: 'Aktiv Grotesk Corp', -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
}

* {
  @include box-sizing(border-box);
}

#main {
  @include transition(opacity .5s ease-in);
}
body.show {
  overflow: auto !important;

  #main {
    opacity: 1 !important;
    overflow: initial !important;
    height: auto !important;
  }
}

.page {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 80px);
  justify-items: center;
  padding: 120px 0;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.primary { background-color:  $primary; }
.primaryDark { background-color:  $primaryDark; }
.secondary { background-color:  $secondary; }

