@import "../../../scss/styles";

.main {
  width: 100vw;
  height: 100vh;
}
.background {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 375px;
  height: 615px;
  background: url('../../../assets/images/mobile_awards.png') top left no-repeat;
  background-size: 100%;
}

.content {
  position: relative;
  z-index: 1;
  padding: 90px 30px;
  background: #fff;
}

.navbar {
  background: rgba(255,255,255, 0.5);
  height: 60px;
  box-shadow: 0 0 8px 0 rgba(125,138,208,0.14);
  padding: 0;
  position: fixed;
  z-index: 16;
  top: 0;

  .logo {
    margin: 16px 30px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    position: relative;

    .dash {
      width: 15px;
      height: 2px;
      background: #fff;
      position: absolute;

      &.first {
        top: 10px;
        left: 20px;
      }
      &.second {
        top: 14px;
        left: 10px;
        width: 20px;
      }
      &.third {
        top: 18px;
        width: 14px;
      }
    }
  }
  .actions-bar {
    height: 100%;
    padding: 0 10px;

    button.has-icon {
      padding: 18px 20px;
      background: none;
      border: none;
    }

  }
}
article {
  padding: 5px 0;

  h3 {
    margin-bottom: 20px;
  }
  p {
    font-size: 17px;
    line-height: 28px;
  }

  .read-more {
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    position: relative;
    padding-bottom: 5px;
  }

  .read-more::after {
    content: '';
    height: 2px;
    width: 35px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.image-grid {
  padding: 20px 5px;

  .col-3 {
    padding: 10px;
  }
}

menu {
  display: none;
  position: fixed;
  background: #ffffff;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 8;
  top: 0;
  padding: 20% 30px;

  menuitem {
    display: block;
    padding: 20px;
    padding-left: 40px;
    font-size: 24px;
    position: relative;

    &:hover {

      span:before {
        content: '';
        height: 2px;
        width: 25px;
        background: #000;
        position: absolute;
        left: 0;
        top: 50%;
      }
    }
  }
}

#closeMenu {
  display: none;
}

#openMenu {
  display: inline-block;
}

.menu-open {
  #closeMenu {
    display: inline-block;
  }
  #openMenu, #phone {
    display: none;
  }
  menu {
    display: block;
  }
  .navbar {
    box-shadow:none;
  }
}
